In [10]:
a=10
print(a+a)

20

In [11]:
b=13

In [12]:
print(a)

10

In [13]:
a=78
print(a)

78

In [14]:
a

78

In [15]:
print(a+b)
print(a*b)
print(a**b)

91
1014
3955759092264800909058048

In [16]:
q="class"

In [17]:
q
ui=3

In [18]:
print(q*ui)

classclassclass

In [19]:
print(type(q))

<class 'str'>

In [20]:
print(type(a))

<class 'int'>

In [21]:
p=12.0

In [22]:
print(type(p))

<class 'float'>

In [23]:
y="wait"

In [24]:
print(y+q)

waitclass

In [25]:
num="2"
num1="1"
print(num+num1)

21

In [26]:
num=float(input("value 1:"))

value 1:

ValueError: could not convert string to float:

In [27]:
type(num)

str

In [28]:
print(a+b)
print(a*b)
print(a**b)
print(a/b)

91
1014
3955759092264800909058048
6.0

In [29]:
q=[] list
w=() tuple
e={} dict

SyntaxError: invalid syntax (<ipython-input-29-ad51849af09d>, line 1)

In [30]:
q=[1,2,3,"ABC","GAME",'eat']
print(q)

[1, 2, 3, 'ABC', 'GAME', 'eat']

In [31]:
print(q)
print(q[0]+q[1])

[1, 2, 3, 'ABC', 'GAME', 'eat']
3

In [32]:
str1="dam"
num34=8
print(str1*num34)

damdamdamdamdamdamdamdam

In [33]:
dt="sam"
print(dt*3+" "+str1*3)

samsamsam damdamdam

In [34]:
rep=int(input("value"))
print(type(rep))

value

ValueError: invalid literal for int() with base 10: ''

In [35]:
print(q)

[1, 2, 3, 'ABC', 'GAME', 'eat']

In [36]:
a=12
c=23
print(a,c)

12 23

In [37]:
temp=0
temp=a
a=c
c=temp
print(a,c)

23 12

In [38]:
print(q)

[1, 2, 3, 'ABC', 'GAME', 'eat']

In [39]:
temp=0
temp=q[3]
q[3]=q[1]
q[1]=temp
print(q)

[1, 'ABC', 3, 2, 'GAME', 'eat']

In [40]:
q[1],q[0],q[4],q[-1]=q[0],q[1],q[-1],q[4]

In [41]:
q

['ABC', 1, 3, 2, 'eat', 'GAME']

In [42]:
v=[4,5,6]
r=[1,2,3,v]

In [43]:
r

[1, 2, 3, [4, 5, 6]]

In [44]:
r[3][0]

4

In [45]:
t=[]
t.append(8)

In [46]:
t

[8]

In [47]:
t.append("t")

In [48]:
t

[8, 't']

In [49]:
t.pop()

't'

In [50]:
t

[8]

In [51]:
q

['ABC', 1, 3, 2, 'eat', 'GAME']

In [52]:
q.pop(2)

3

In [53]:
q.extend(q)

In [54]:
q

['ABC', 1, 2, 'eat', 'GAME', 'ABC', 1, 2, 'eat', 'GAME']

In [55]:
#tuple
t=(1,2,4)

In [56]:
t

(1, 2, 4)

In [57]:
p

12.0

In [58]:
q

['ABC', 1, 2, 'eat', 'GAME', 'ABC', 1, 2, 'eat', 'GAME']

In [59]:
tuple(q)

('ABC', 1, 2, 'eat', 'GAME', 'ABC', 1, 2, 'eat', 'GAME')

In [60]:

s={1:"name",2:"age",7:"id","a":"employ"}
print(s)

{1: 'name', 2: 'age', 7: 'id', 'a': 'employ'}

In [61]:
s="string"
s[1:3]

'tr'

In [62]:
s[::-1]

'gnirts'

In [63]:
import string

In [64]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [65]:
q

['ABC', 1, 2, 'eat', 'GAME', 'ABC', 1, 2, 'eat', 'GAME']

In [66]:
print("       ATTENDE      ")
print("--------------------")
print("students-------->",q)
x=input("student name")
x in q
print("student present",x)

       ATTENDE
--------------------
students--------> ['ABC', 1, 2, 'eat', 'GAME', 'ABC', 1, 2, 'eat', 'GAME']
student name
student present

In [67]:
w=[]
for i in range(1,4):
    name=input("name please:")
    w.append(name)
print(w)

name please:
name please:
name please:
['', '', '']

In [68]:
for i in range(1,4):
    if w[j]%2==0:
        
        print(w[j],w[i])

NameError: name 'j' is not defined

In [69]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [82]:
lst=["esha","natansha","masood"]
h="---"

In [83]:
s = "class"
s = s.join(lst)
print(s)

eshaclassnatanshaclassmasood

In [84]:
s = "class"
s = s.join(h)
print(s)

-class-class-

In [ ]:
#a=int(input('enter a number: '))
#if a>0:
#    print(a,'is positive')
#elif a==0:
#    print('you have entered zero')
#else:
#    print(a,'is negative')
#print('good bye!')

In [ ]:
#if a%2==0 and a%3==0:
#    print('both')
#elif a%3==0:
#    print('only 3')
#elif a%2==0:
#    print('only 2')
#else:
#    print('NONE')

In [ ]:
a=1
while a<10:
    print(a)
    a+=1
    break

In [ ]:
#even=[]
#odd=[]
#for i in range(1,51):
#    if i%2==0:
#        even.append(i)
#    else:
#        odd.append(i)
#print('EVEN: ',even)
#print('ODD: ',odd)
9808319387

In [8]:
w=[]
def add(a,b):
    q=a+b
    w.append(q)
    print("addition:",q)

In [9]:

for i in range(1,3):
    add(int(input("1st numb")),int(input("2nd numb")))

1st numb12
2nd numb2
addition: 14
1st numb34
2nd numb3
addition: 37

In [10]:
print(w)

[14, 37]

In [13]:
for i in range(len(w)):
    if w[i]%2==0:
        print("Index Number",i,"even------>",w[i])
    else:
        print("Index Number",i,"odd------>",w[i])

Index Number 0 even------> 14
Index Number 1 odd------> 37

In [20]:
def app():
    print("1ST")
    
def bee():
    print("2nd")
    app()
    sh()

In [21]:
bee()

2nd
1ST
Index Number 0 even------> 14
Index Number 1 odd------> 37

In [16]:
9808319387

9808319387

In [18]:
def sh():
    for i in range(len(w)):
        if w[i]%2==0:
            print("Index Number",i,"even------>",w[i])
        else:
            print("Index Number",i,"odd------>",w[i])

In [19]:
sh()

Index Number 0 even------> 14
Index Number 1 odd------> 37

In [22]:
def app():
    print("1ST")
    
def bee():
    print("2nd")
    app()
    sh()

In [23]:
bee()

2nd
1ST
Index Number 0 even------> 14
Index Number 1 odd------> 37

In [26]:
def abc():
    print("1st function")
    
def xyz():
    print("2nd function")
    abc()
    sh()

In [27]:
xyz()

2nd function
1st function
Index Number 0 even------> 14
Index Number 1 odd------> 37

In [39]:
def add(a,b):
    print("add:",a+b)
    
def sub(a,b):
    print("sub:",a-b)
    add(int(input("value1")),int(input("value1")))

In [40]:
a=sub(45,98)

sub: -53
value123
value14
add: 27

In [41]:
list1=[sub(22,33),sub(2,3),sub(2,33),sub(223,37)]

sub: -11
value123
value124
add: 47
sub: -1
value143
value125
add: 68
sub: -31
value12
value12
add: 4
sub: 186
value1234
value1234
add: 468

In [36]:
list1

[None]

In [1]:
list2=[1,0,1,8]
list3=[1,1,9,0]
orout=[]
andout=[]
xorout=[]
def andgate():
    
    for i in  range(len(list3)):
        team=list2[i] & list3[i]
        orout.append(team)
        time.sleep(2)
        print("----->",team)
        
def orgate():
    
    for i in  range(len(list3)):
        team=list2[i] | list3[i]
        andout.append(team)
        time.sleep(2)
        print("---->",team)
        
        
def xorgate():
    
    for i in  range(len(list3)):
        team=list2[i] ^ list3[i]
        xorout.append(team)
        time.sleep(2)
        print("---->",team)

In [2]:
import time
print("                  WELCOME TO LOGIC TRAIN                ")
print("OR GATE",orout)
orgate()
print("AND GATE",andout)
andgate()
print("XOR GATE",xorout)

xorgate()

                  WELCOME TO LOGIC TRAIN
OR GATE []
-----> 1
-----> 0
-----> 0
-----> 0
AND GATE []
----> 1
----> 1
----> 1
----> 0
XOR GATE []
----> 0
----> 1
----> 1
----> 0

In [14]:
import time
print("done1")
time.sleep(1)
print("done2")
time.sleep(1)
print("done2")
time.sleep(1)
print("done2")

done1
done2
done2
done2

In [7]:
area=lambda x:x*x
print("area:",area(5))

area: 25

In [10]:
cube=lambda x,y:x**y
x=int(input("number to be cubed:"))
print("cube:",cube(x,3))

number to be cubed:3
cube: 27

In [12]:
for i in range(1,3):
    print(i,"cube:",cube(int(input("number to be cubed:")),3))

number to be cubed:3
1 cube: 27
number to be cubed:5
2 cube: 125

In [17]:
q=[2,3,4,5]
w=[2,3,5,6]
wap=list(map(lambda x,y:x**y,q,w))
print(wap)

[4, 27, 1024, 15625]

In [19]:
a=(2,3,4)
q=(23,5,1)
cmp(q,a)

NameError: name 'cmp' is not defined

In [21]:
a=[89,54,4]
a.sort()
print(a)

[4, 54, 89]

In [22]:
a.reverse()

In [23]:
a

[89, 54, 4]

In [31]:
def a(a):
    e=a*a
    print(a*a)
    print(e)
    return e

In [32]:
a(3)

9
9

9

In [1]:

def white(a,*b):
    print('output is:',*b)
    print(a)
    for i in b:
        print(i)
    return

white(1,4,6,3,7,8,9)

output is: 4 6 3 7 8 9
1
4
6
3
7
8
9

In [2]:
from functools import reduce
lst=[1,2,3,4,5]
import termcolor
lst12=[1,2,3,4,5]
lst1=reduce(lambda a,b:a+b,lst)
print(termcolor.colored(lst1,"blue"))
print(termcolor.colored(lst1,"red"))
print(termcolor.colored(lst1,"green"))
print(termcolor.colored(lst1,"cyan"))

termcolor.COLORS("help")
ter=reduce(lambda x,y: x if x>y else y,lst)
print(ter)

15
15
15
15
5

In [7]:
import functools
dir(functools)
functools.reduce

['RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [8]:
import termcolor
text="I AM A DISCO DANCER"
import time
termcolor.cprint(text, color="yellow", on_color=None, attrs=None)
time.sleep(2)
termcolor.cprint(text, color="red", on_color=None, attrs=None)

I AM A DISCO DANCER
I AM A DISCO DANCER

In [23]:
import termcolor as tp
import time
r=[]

for i in text:
    print(tp.colored(i,"blue"),time.sleep(2),tp.colored(i,"green"),
          tp.colored(i,"magenta"),tp.colored(i,"yellow"),i,
          tp.colored(i,"red"))
    r.append(i)

I None I I I I I
  None
A None A A A A A
M None M M M M M
  None
A None A A A A A
  None
D None D D D D D
I None I I I I I
S None S S S S S
C None C C C C C
O None O O O O O
  None
D None D D D D D
A None A A A A A
N None N N N N N
C None C C C C C
E None E E E E E
R None R R R R R

In [33]:
ep=lambda r :tp.colored(r,"red")
print(ep("reqf"))

reqf

In [14]:
import termcolor as tp
h=["blue","red","yellow","magenta","green"]
for i in h:
    ep=lambda r :tp.colored(r,i)
0    print(ep("reqf"))

reqf
reqf
reqf
reqf
reqf

In [2]:
import termcolor
help(termcolor)

Help on module termcolor:

NAME
    termcolor - ANSII Color formatting for output in terminal.

FUNCTIONS
    colored(text, color=None, on_color=None, attrs=None)
        Colorize text.

        Available text colors:
            red, green, yellow, blue, magenta, cyan, white.

        Available text highlights:
            on_red, on_green, on_yellow, on_blue, on_magenta, on_cyan, on_white.

        Available attributes:
            bold, dark, underline, blink, reverse, concealed.

        Example:
            colored('Hello, World!', 'red', 'on_grey', ['blue', 'blink'])
            colored('Hello, World!', 'green')

    cprint(text, color=None, on_color=None, attrs=None, **kwargs)
        Print colorize text.

        It accepts arguments of print function.

DATA
    ATTRIBUTES = {'blink': 5, 'bold': 1, 'concealed': 8, 'dark': 2, 'rever...
    COLORS = {'blue': 34, 'cyan': 36, 'green': 32, 'grey': 30, 'magenta': ...
    HIGHLIGHTS = {'on_blue': 44, 'on_cyan': 46, 'on_green': 42, 'on_grey':...
    RESET = '\x1b[0m'
    VERSION = (1, 1, 0)
    __ALL__ = ['colored', 'cprint']
    print_function = _Feature((2, 6, 0, 'alpha', 2), (3, 0, 0, 'alpha', 0)...

FILE
    c:\users\hp\anaconda3\lib\site-packages\termcolor.py

In [15]:
import termcolor as t
h=["blue","red","yellow","magenta","green"]
for i in h:
    
    text="ABCD"
    t.cprint(text, color=i)

ABCD
ABCD
ABCD
ABCD
ABCD

In [11]:
import string

string.ascii_lowercase
string.ascii_uppercase
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

iterator
generator
decorators
oops
regular expression
web scraping-crawling
tkinter gui
file handling
database connectivity

In [13]:
class add():
    def ad(self,a,b):   
        print("addition",a+b)
    
class sub():
    
    def su(self,c,d):
        print("subtract",c-d)

In [14]:
obj=sub()
obj.su(23,56) 

obj1=add()
obj1.ad(45,8)

subtract -33
addition 53

In [28]:
import termcolor as tp
class sub1():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    
    def sub(self):
        print(tp.colored("subtract","red"),tp.colored(self.a-self.b,"red"))
    def mult(self):
        print("multi",self.a*self.b)

In [29]:
obj2=sub1(int(input("v1")),(int(input("v2"))))
obj2.sub()
obj2.mult()

v121
v22
subtract 19
multi 42

In [23]:
def add(a,v):
    print(a+v)
def sub(a,v):
    print(a-v)
def div(a,v):
    print(a/v)

In [24]:
add(int(input("v1")),int(input("v2")))

v112
v26
18

In [1]:
def add(a,v):
    print(a+v)
def sub(a,v):
    print(a-v)
def div(a,v):
    print(a/v)

In [4]:
a=[add(1,2),sub(2,3),div(2,3)]

3
-1
0.6666666666666666

In [5]:
print(a[0])

None

In [11]:
u=["abc"]
u.append(add)
print(u)
print(u[0])
print(u[1](3,6))

['abc', <function add at 0x000001FB9274A9D8>]
abc
9
None

In [ ]:
a()
list1[]
list1[0]()

In [27]:

class sub1():
    def sub(self,a,b):
        print("addition:",a+b)
        
class div():
    def divs(self,a,b):
        print("division:",a/b)
        
class mu(sub1,div):
    
    def mult(self,a,b):
        print("multi:",a*b)

In [28]:
obj3=mu()

In [29]:
obj3.mult(4,5)

multi: 20

In [30]:
obj3.divs(4,5)

division: 0.8

In [23]:
obj3.sub(4,5)

addition 9

In [ ]:

class sub1():
    def sub(self,a,b):
        print("addition:",a+b)
        
class div(sub1):
    def divs(self,a,b):
        print("division:",a/b)
        
class mu(div):
    
    def mult(self,a,b):
        print("multi:",a*b)

In [31]:
import termcolor as tp
class sub():
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def __add__(self,y):
        return self.y+y.a

In [33]:
obj=sub(1,2)

In [35]:
obj1=sub(7,8)

In [3]:
#POLYMORPHISM
class abc():
    def add(self,a,b):
        print("addition:",a+b)
        
class xyz():
    def add(self,a,b):
        print("subtarct:",a-b)

In [6]:
#same named function in differnet class but different use 
obj=abc()
obj.add(45,6)
        
obj1=xyz()
obj1.add(45,6)

addition: 51
subtarct: 39

In [15]:
list5=[2,1,4]
sd=iter(list5)

In [16]:
tr=next(sd)
print(tr)

2

In [17]:
tr=next(sd)
print(tr)

1

In [18]:
tr=next(sd)
print(tr)

4

In [6]:
#HhbsRtxwcKx35WDd
import pymysql
conn=pymysql.connect('localhost','yash','yash','yash')
if not conn==None:
    print('success')

cmd=conn.cursor()

conn.close()

success

In [7]:
import pymysql
#database connection
conn=pymysql.connect('localhost','yash','yash','yash')
cmd=conn.cursor()
# Query for creating table
ArtistTableSql = """CREATE TABLE Artists(
ID INT(20) PRIMARY KEY AUTO_INCREMENT,
NAME  CHAR(20) NOT NULL,
TRACK CHAR(10))"""

cmd.execute(ArtistTableSql)
conn.close()

InternalError: (1050, "Table 'artists' already exists")

In [10]:

import pymysql

#database connection
conn=pymysql.connect('localhost','yash','yash','yash')
cmd=conn.cursor()

# queries for inserting values
insert1 = "INSERT INTO Artists(NAME, TRACK) VALUES('YASH', 'Jazz' );"
insert2 = "INSERT INTO Artists(NAME, TRACK) VALUES('Sharma', 'Rock' );"

#executing the quires
cmd.execute(insert1)
cmd.execute(insert2)


#commiting the connection then closing it.
conn.commit()
conn.close()

In [12]:

import pymysql

#database connection
conn=pymysql.connect('localhost','yash','yash','yash')
cmd=conn.cursor()

# queries for retrievint all rows
retrive = "Select * from Artists;"

#executing the quires
cmd.execute(retrive)
rows = cmd.fetchall()
for row in rows:
    print(row)
#commiting the connection then closing it.
conn.commit()
conn.close()

(1, 'Towang', 'Jazz')
(2, 'Sadduz', 'Rock')
(3, 'YASH', 'Jazz')
(4, 'Sharma', 'Rock')

In [14]:

updateSql = "UPDATE  Artists SET NAME= 'Tauwang'  WHERE ID = '1' ;"
cmd.execute(updateSql)

deleteSql = "DELETE FROM Artists WHERE ID = '1'; "
cursor.execute(deleteSql )

dropSql = "DROP TABLE IF EXISTS Artists;"
cursor.execute(dropSql)

InterfaceError: (0, '')

In [ ]:

from textblob import TextBlob

f=[]
y=[]
k=[]
for i in range(1,20):
   
    s1=input('Enter a statement to test:')
    t1=TextBlob(s1)
#print(t1.sentiment)
    if t1.sentiment.polarity>0:
        e=t1.sentiment.polarity
        f.append(e)
        print("Positive")
    elif t1.sentiment.polarity<0:
        
        e1=t1.sentiment.polarity
        y.append(e1)
        print("Negative")
    else :
        
        e2=t1.sentiment.polarity
        k.append(e2)
        print("CANT DO SENTIMENT")
       # t1.sentiment.polarity==0

In [12]:
f = open("test_speech.txt", "r")
print(f.read())

When he spoke to the Democratic National Convention in support of Senator John Kerry,
the partys presidential nominee against George W. Bush,
 Barack Obama was an obscure state senator running for the US Senate.
His soaring speech made the case for putting aside partisan differences and bringing Americans together;
it also introduced him to the country and meant that he was instantly tipped to become a future president.

We worship an awesome God in the blue states and we dont like federal agents
 poking around in our libraries in the Red States.

In [8]:
from textblob import TextBlob
import re
fs=[]
y=[]
k=[]
f = open("test_speech.txt", "r")
print(f.read())
f.split()

for i in range(1,10):
    
    f = open("test_speech.txt", "r")
    x=input("enter the word")
    print(re.findall(x,f.read()))
    t1=TextBlob(f)
    print(t1.sentiment)
    if t1.sentiment.polarity>0:
        e=t1.sentiment.polarity
        fs.append(e)
        print("Positive")
    elif t1.sentiment.polarity<0:
        
        e1=t1.sentiment.polarity
        y.append(e1)
        print("Negative")
    else :
        
        e2=t1.sentiment.polarity
        k.append(e2)
        print("CANT DO SENTIMENT")

When he spoke to the Democratic National Convention in support of Senator John Kerry,
the partys presidential nominee against George W. Bush,
 Barack Obama was an obscure state senator running for the US Senate.
His soaring speech made the case for putting aside partisan differences and bringing Americans together;
it also introduced him to the country and meant that he was instantly tipped to become a future president.

We worship an awesome God in the blue states and we dont like federal agents
 poking around in our libraries in the Red States.

AttributeError: '_io.TextIOWrapper' object has no attribute 'split'

In [ ]:
r=["",""]
for i in r:
    if s=="":
        
    print("GABAR KHUSH HUA--->","")